<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE_OUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%-30(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %level %logger{10}[%L]-%msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>
	
	<logger name="com.zes.squad.gmh.mapper" level="DEBUG" addtivity="false"/>

	<root level="INFO">
		<appender-ref ref="CONSOLE_OUT" />
	</root>

</configuration>