<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.mapper.ConsumeRecordMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.entity.po.ConsumeRecordPo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="trade_serial_number" jdbcType="VARCHAR"
			property="tradeSerialNumber" />
		<result column="customer_id" jdbcType="BIGINT" property="customerId" />
		<result column="customer_mobile" jdbcType="VARCHAR" property="customerMobile" />
		<result column="consume_type" jdbcType="INTEGER" property="consumeType" />
		<result column="consume_money" jdbcType="DECIMAL" property="consumeMoney" />
		<result column="payment_way" jdbcType="INTEGER" property="paymentWay" />
		<result column="pay_way_id" jdbcType="BIGINT" property="payWayId" />
		<result column="pay_way_content_id" jdbcType="BIGINT" property="payWayContentId" />
		<result column="coupon_amount" jdbcType="INTEGER" property="couponAmount" />
		<result column="activity_id" jdbcType="BIGINT" property="activityId" />
		<result column="is_modified" jdbcType="INTEGER" property="isModified" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="store_id" jdbcType="BIGINT" property="storeId" />
		<result column="consume_time" jdbcType="TIMESTAMP" property="consumeTime" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>
	<resultMap id="IntegralMap"
		type="com.zes.squad.gmh.entity.union.EmployeeIntegralUnion">
		<result column="employee_id" jdbcType="BIGINT" property="employeeId" />
		<result column="employee_name" jdbcType="VARCHAR" property="employeeName" />
		<result column="integral" jdbcType="DECIMAL" property="integral" />
	</resultMap>

	<insert id="insert" parameterType="com.zes.squad.gmh.entity.po.ConsumeRecordPo"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO consume_record
		(`trade_serial_number`,`customer_id`,`customer_mobile`,`consume_type`,`consume_money`,`payment_way`,`pay_way_id`,`pay_way_content_id`,`coupon_amount`,`activity_id`,`is_modified`,`remark`,`store_id`,`consume_time`)
		VALUES
		(#{tradeSerialNumber, jdbcType=VARCHAR},
		#{customerId,
		jdbcType=BIGINT},
		#{customerMobile, jdbcType=VARCHAR},
		#{consumeType,
		jdbcType=INTEGER},
		#{consumeMoney, jdbcType=DECIMAL},
		#{paymentWay,
		jdbcType=INTEGER},
		#{payWayId,jdbcType=BIGINT},
		#{payWayContentId,jdbcType=BIGINT},
		#{couponAmount,jdbcType=INTEGER},
		#{activityId,
		jdbcType=BIGINT},
		#{isModified,
		jdbcType=INTEGER},
		#{remark,
		jdbcType=VARCHAR},
		#{storeId,
		jdbcType=BIGINT},
		#{consumeTime,
		jdbcType=TIMESTAMP})
	</insert>
	<select id="listConsumeRecordByCondition"
		parameterType="com.zes.squad.gmh.entity.condition.ConsumeRecordQueryCondition"
		resultMap="BaseResultMap">
		SELECT
		*
		from
		consume_record
		<where>
			<if test="storeId != null">
				`store_id` = #{storeId, jdbcType=BIGINT}
			</if>
			<if test="consumeType != null ">
				AND `consume_type` = #{consumeType, jdbcType=INTEGER}
			</if>
			<if test="beginTime != null and endTime != null">
				AND <![CDATA[#{beginTime,jdbcType=TIMESTAMP}<= consume_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="beginTime != null and endTime == null">
				AND <![CDATA[ consume_time >= #{beginTime,jdbcType=TIMESTAMP}  ]]>
			</if>
			<if test="beginTime == null and endTime != null">
				AND <![CDATA[ consume_time <= #{endTime,jdbcType=TIMESTAMP}  ]]>
			</if>
			<if test="keyWords != null and keyWords != ''">
				<bind name="condition" value="'%' + keyWords + '%'" />
				CONCAT(`trade_serial_number`,`customer_mobile`,`remark`) LIKE
				#{condition, jdbcType=VARCHAR}
			</if>
		</where>

	</select>

	<select id="changedListConsumeRecordByCondition"
		parameterType="com.zes.squad.gmh.entity.condition.ConsumeRecordQueryCondition"
		resultMap="BaseResultMap">
		SELECT
		*
		from
		consume_record
		<where>
			<if test="storeId != null">
				`store_id` = #{storeId, jdbcType=BIGINT}
			</if>
			<if test="consumeType != null ">
				AND `consume_type` = #{consumeType, jdbcType=INTEGER}
			</if>
			<if test="beginTime != null and endTime != null">
				AND <![CDATA[#{beginTime,jdbcType=TIMESTAMP}<= consume_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="beginTime != null and endTime == null">
				AND <![CDATA[ consume_time >= #{beginTime,jdbcType=TIMESTAMP}  ]]>
			</if>
			<if test="beginTime == null and endTime != null">
				AND <![CDATA[ consume_time <= #{endTime,jdbcType=TIMESTAMP}  ]]>
			</if>
			<if test="keyWords != null and keyWords != ''">
				<bind name="condition" value="'%' + keyWords + '%'" />
				CONCAT(`trade_serial_number`,`customer_mobile`,`remark`) LIKE
				#{condition, jdbcType=VARCHAR}
			</if>
			and is_modified = 1
		</where>

	</select>

	<update id="modify" parameterType="long">
		update consume_record set
		is_modified = 1
		where
		id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getById" parameterType="long" resultMap="BaseResultMap">
		SELECT
		*
		from
		consume_record
		where
		`id`=#{id,jdbcType=BIGINT}

	</select>

	<select id="getIntegralEmployeeIntegralByEmployeeId" parameterType="map"
		resultMap="IntegralMap">
		select
		crd.`operator_id` as `employee_id`,
		em.`name` as `employee_name`,
		pro.`integral` as
		`integral`
		from consume_record_detail crd
		left join employee em on
		crd.`operator_id`=em.`id`
		left join project pro on
		crd.`project_id`=
		pro.`id`
		where
		crd.`operator_id` =#{employeeId,jdbcType=BIGINT}
		and
		<if test="beginTime != null">
			AND <![CDATA[#{beginTime,jdbcType=TIMESTAMP}<= crd.`create_time` ]]>
		</if>
		<if test="endTime != null">
			AND <![CDATA[ consume_time <= #{endTime,jdbcType=TIMESTAMP}  ]]>
		</if>
	</select>

	<select id="getConsumeIdListByTime" parameterType="map"
		resultType="long">
		SELECT
		id
		from
		consume_record
		<where>
			<if test="storeId != null">
				`store_id` = #{storeId, jdbcType=BIGINT}
			</if>
			<if test="consumeType != null ">
				AND `consume_type` = #{consumeType, jdbcType=INTEGER}
			</if>
			<if test="beginTime != null and endTime != null">
				AND <![CDATA[#{beginTime,jdbcType=TIMESTAMP}<= consume_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
			</if>
			<if test="beginTime != null and endTime == null">
				AND <![CDATA[ consume_time >= #{beginTime,jdbcType=TIMESTAMP}  ]]>
			</if>
			<if test="beginTime == null and endTime != null">
				AND <![CDATA[ consume_time <= #{endTime,jdbcType=TIMESTAMP}  ]]>
			</if>
		</where>

	</select>

</mapper>