<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.mapper.ConsumeRecordGiftMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.entity.po.ConsumeRecordGiftPo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="consume_record_id" jdbcType="BIGINT" property="consumeRecordId" />
		<result column="trade_serial_number" jdbcType="VARCHAR" property="tradeSerialNumber" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="project_id" jdbcType="BIGINT" property="projectId" />
		<result column="project_amount" jdbcType="INTEGER" property="projectAmount" />
		<result column="product_id" jdbcType="BIGINT" property="productId" />
		<result column="product_amount" jdbcType="INTEGER" property="productAmount" />
		<result column="coupon_money" jdbcType="DECIMAL" property="couponMoney" />
		<result column="coupon_amount" jdbcType="INTEGER" property="couponAmount" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>
	<resultMap type="com.zes.squad.gmh.entity.union.ConsumeRecordGiftUnion" id="GiftUnion">
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="project_name" jdbcType="VARCHAR" property="projectName" />
		<result column="project_id" jdbcType="BIGINT" property="projectId" />
		<result column="product_id" jdbcType="BIGINT" property="productId" />
		<result column="project_amount" jdbcType="INTEGER" property="projectAmount" />
		<result column="product_name" jdbcType="VARCHAR" property="productName" />
		<result column="product_amount" jdbcType="INTEGER" property="productAmount" />
		<result column="coupon_money" jdbcType="DECIMAL" property="couponMoney" />
		<result column="coupon_amount" jdbcType="INTEGER" property="couponAmount" />	
	</resultMap>
	<insert id="insert" parameterType="com.zes.squad.gmh.entity.po.ConsumeRecordGiftPo">
		INSERT INTO consume_record_gift
		(`consume_record_id`,`trade_serial_number`,`type`,`product_id`,`product_amount`,`project_id`,`project_amount`,`coupon_money`,`coupon_amount`)
		VALUES
		(#{consumeRecordId,jdbcType=BIGINT},
		#{tradeSerialNumber, jdbcType=VARCHAR},
		#{type, jdbcType=INTEGER},
		#{productId, jdbcType=BIGINT},
		#{productAmount, jdbcType=INTEGER},
		#{projectId, jdbcType=BIGINT},
		#{projectAmount, jdbcType=INTEGER},
		#{couponMoney, jdbcType=DECIMAL},
		#{couponAmount, jdbcType=INTEGER})
	</insert>
	<select id="getRecordGiftUnionByConsumeRecordId" parameterType="long" resultMap="GiftUnion">
		select 
		g.`product_id` as `product_id`,
		d.`name` as `product_name`,
		g.`product_amount` as `product_amount`,
		g.`project_id` as `project_id`,
		j.`name` as `project_name`,
		g.`project_amount` as `project_amount`,
		g.`coupon_money` as `coupon_money`,
		g.`coupon_amount` as `coupon_amount`
		from 
		consume_record_gift g
		left join product d on d.`id`=g.`product_id`
		left join project j on j.`id`=g.`project_id`
		where
		g.`consume_record_id`=#{consumeRecordId,jdbcType=VARCHAR}
	</select>
</mapper>