<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.mapper.ConsumeRecordDetailUnionMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.entity.union.ConsumeRecordDetailUnion">
		<result column="product_name" jdbcType="VARCHAR" property="productName" />
		<result column="project_name" jdbcType="VARCHAR" property="projectName" />
		<result column="card_name" jdbcType="VARCHAR" property="cardName" />
		<result column="amount" jdbcType="INTEGER" property="amount" />
		<result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
		<result column="consultant_name" jdbcType="VARCHAR" property="consultantName" />
		<result column="sales_man_name" jdbcType="VARCHAR" property="salesManName" />
	</resultMap>
	<select id="getRecordDetailUnionByTradeSerialNumber" parameterType="String" resultMap="BaseResultMap">
			select 
		d.`name` as `product_name`,
		j.`name` as `project_name`,
		crd.`amount` as `amount`,
		e1.`name` as `operator_name`,
		e2.`name` as `consultant_name`,
		e3.`name` as `sales_man_name`
		from 
		consume_record_detail crd 
		left join product d on d.`id`=crd.`product_id`
		left join project j on j.`id`=crd.`project_id`
		left join employee e1 on e1.`id`=crd.`operator_id`
		left join employee e2 on e2.`id`=crd.`consultant_id`
		left join employee e3 on e3.`id`=crd.`sales_man_id`
        where crd.`trade_serial_number`= #{tradeSerialNumber,jdbcType=VARCHAR}
	</select>
</mapper>