<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.mapper.CustomerMemberCardContentMapper">
	<resultMap id="BaseResultMap"
		type="com.zes.squad.gmh.entity.po.CustomerMemberCardContentPo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="customer_member_card_id" jdbcType="BIGINT" property="customerMemberCardId" />
		<result column="related_id" jdbcType="BIGINT" property="relatedId" />
		<result column="content" jdbcType="DECIMAL" property="content" />
		<result column="amount" jdbcType="INTEGER" property="amount" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>
	<resultMap id="UnionResultMap"
		type="com.zes.squad.gmh.entity.union.CustomerMemberCardContentUnion">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="related_id" jdbcType="BIGINT" property="relatedId" />
		<result column="related_name" jdbcType="VARCHAR" property="relatedName" />
		<result column="content" jdbcType="DECIMAL" property="content" />
		<result column="amount" jdbcType="INTEGER" property="amount" />
	</resultMap>
	
	<insert id="insert" parameterType="com.zes.squad.gmh.entity.po.CustomerMemberCardContentPo" >
		insert into customer_member_card_content (`customer_member_card_id`,`related_id`,`content`,`amount`  ) values(
		#{customerMemberCardId,jdbcType=BIGINT},
		#{relatedId,jdbcType=BIGINT},
		#{content,jdbcType=DECIMAL},
		#{amount,jdbcType=INTEGER})
	</insert>
	
	<select id="getContentList" parameterType="long" resultMap="UnionResultMap">
		select
		c.`id` as `id`,
		c.`related_id` as `related_id`,
		p.`name` as `related_name`,
		c.`content` as `content`,
		c.`amount` as `amount`
		from customer_member_card_content c
		left join project p
		on c.`related_id` = p.`id`
		   
		where
		c.`customer_member_card_id`=#{customerMemberCardId,jdbcType=BIGINT}
	</select>
	<update id="calAmount" parameterType="map">
		update customer_member_card_content
		set
		`amount`=#{amount,jdbcType=INTEGER}
		where
		`id`=#{id,jdbcType=BIGINT}
	</update>
	
	
	
</mapper>