<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.mapper.EmployeeWorkMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.entity.po.EmployeeWorkPo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="employee_id" jdbcType="BIGINT" property="employeeId" />
		<result column="work_type" jdbcType="INTEGER" property="workType" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`, `employee_id`, `work_type`, `created_time`, `modified_time`
	</sql>
	<insert id="batchInsert" parameterType="com.zes.squad.gmh.entity.po.EmployeeWorkPo">
		INSERT INTO employee_work
		(`employee_id`, `work_type`)
		VALUES
		<foreach collection="list" item="po" separator=",">
			(#{po.employeeId, jdbcType=BIGINT},
			#{po.workType, jdbcType=INTEGER})
		</foreach>
	</insert>
	<delete id="batchDeleteByEmployeeId" parameterType="long">
		DELETE FROM employee_work WHERE `employee_id` = #{employeeId, jdbcType=BIGINT}
	</delete>
	<delete id="batchDeleteByEmployeeIds" parameterType="long">
		DELETE FROM employee_work WHERE `employee_id` IN
		<foreach collection="list" item="employeeId" separator="," open="(" close=")">
			#{employeeId, jdbcType=BIGINT}
		</foreach>
	</delete>
	<select id="selectByEmployeeId" parameterType="long" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		employee_work
		WHERE `employee_id` = #{employeeId:BIGINT}
	</select>
</mapper>