<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.mapper.EmployeeWorkUnionMapper">
	<resultMap id="BaseResultMap"
		type="com.zes.squad.gmh.entity.union.EmployeeWorkUnion">
		<id column="id" jdbcType="BIGINT" property="id" />
		<association property="employeeWorkPo"
			resultMap="com.zes.squad.gmh.mapper.EmployeeWorkMapper.BaseResultMap"
			columnPrefix="ew_" />
		<association property="employeeWorkTypePo"
			resultMap="com.zes.squad.gmh.mapper.EmployeeWorkTypeMapper.BaseResultMap"
			columnPrefix="ewt_" />
	</resultMap>
</mapper>