<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.mapper.EmployeeUnionMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.entity.union.EmployeeUnion">
		<id column="id" jdbcType="BIGINT" property="id" />
		<association property="employeePo"
			resultMap="com.zes.squad.gmh.mapper.EmployeeMapper.BaseResultMap"
			columnPrefix="e_" />
		<association property="storePo"
			resultMap="com.zes.squad.gmh.mapper.StoreMapper.BaseResultMap"
			columnPrefix="s_" />
		<collection property="employeeWorkPos"
			resultMap="com.zes.squad.gmh.mapper.EmployeeWorkMapper.BaseResultMap"
			columnPrefix="ew_" />
	</resultMap>
	<sql id="Base_Column_List">
		e.`id`,
		e.`id` AS e_id,
		e.`name` AS e_name,
		e.`gender` AS e_gender,
		e.`mobile` AS e_mobile,
		e.`entry_time` AS e_entry_time,
		e.`is_working` AS e_is_working,
		e.`store_id` AS e_store_id,
		e.`remark` AS e_remark,
		s.`name` AS s_name,
		ew.`id` AS ew_id,
		ew.`employee_id` AS ew_employee_id,
		ew.`work_type` AS ew_work_type
	</sql>
	<select id="selectById" parameterType="long" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM
		employee e
		LEFT JOIN
		store s
		ON
		e.`store_id` = s.`id`
		LEFT JOIN
		employee_work ew
		ON
		e.`id` = ew.`employee_id`
		WHERE e.`id` = #{id, jdbcType=BIGINT}
	</select>
	<select id="selectByIds" parameterType="long" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM
		employee e
		LEFT JOIN
		store s
		ON
		e.`store_id` = s.`id`
		LEFT JOIN
		employee_work ew
		ON
		e.`id` = ew.`employee_id`
		WHERE e.`id` IN
		<foreach collection="list" item="id" separator="," open="(" close=")">
			#{id, jdbcType=BIGINT}
		</foreach>
	</select>
</mapper>