<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.mapper.EmployeeUnionMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.entity.union.EmployeeUnion">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="store_name" jdbcType="VARCHAR" property="storeName" />
		<association property="employeePo"
			resultMap="com.zes.squad.gmh.mapper.EmployeeMapper.BaseResultMap"
			columnPrefix="e_" />
		<collection property="employeeWorkUnions"
			resultMap="com.zes.squad.gmh.mapper.EmployeeWorkUnionMapper.BaseResultMap"
			columnPrefix="ewu_" />
	</resultMap>
	<sql id="Base_Column_List">
		e.`id`,
		s.`name` AS store_name,
		e.`id` AS e_id,
		e.`name` AS e_name,
		e.`gender` AS e_gender,
		e.`mobile` AS e_mobile,
		e.`entry_time` AS e_entry_time,
		e.`is_working` AS e_is_working,
		e.`store_id` AS e_store_id,
		e.`remark` AS e_remark,
		e.`created_time` AS e_created_time,
		e.`modified_time` AS e_modified_time,
		ew.`id` AS ewu_id,
		ew.`id` AS ewu_ew_id,
		ew.`employee_id` AS ewu_ew_employee_id,
		ew.`employee_work_type_id` AS ewu_ew_employee_work_type_id,
		ew.`created_time` AS ewu_ew_created_time,
		ew.`modified_time` AS ewu_ew_modified_time,
		ewt.`id` AS ewu_ewt_id,
		ewt.`top_type` AS ewu_ewt_top_type,
		ewt.`name` AS ewu_ewt_name,
		ewt.`store_id` AS ewu_ewt_store_id,
		ewt.`created_time` AS ewu_ewt_created_time,
		ewt.`modified_time` AS ewu_ewt_modified_time,
	</sql>
	<select id="selectById" parameterType="long" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM
		employee e
		LEFT JOIN
		store s
		ON
		e.`store_id` = s.`id`
		employee_work ew
		ON
		e.`id` = ew.`employee_id`
		LEFT JOIN
		employee_work_type ewt
		ON
		ew.`employee_work_type_id` = ewt.`id`
		WHERE e.`id` = #{id, jdbcType=BIGINT}
	</select>
	<select id="selectByIds" parameterType="long" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM
		employee e
		LEFT JOIN
		store s
		ON
		e.`store_id` = s.`id`
		employee_work ew
		ON
		e.`id` = ew.`employee_id`
		LEFT JOIN
		employee_work_type ewt
		ON
		ew.`employee_work_type_id` = ewt.`id`
		WHERE e.`id` IN
		<foreach collection="list" item="id" separator="," open="(" close=")">
			#{id, jdbcType=BIGINT}
		</foreach>
	</select>
</mapper>