<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.mapper.ProductAmountMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.entity.po.ProductAmountPo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="product_id" jdbcType="BIGINT" property="productId" />
		<result column="amount" jdbcType="DECIMAL" property="amount" />
		<result column="store_id" jdbcType="BIGINT" property="storeId" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`, `product_id`, `amount`, `store_id`,
		`created_time`, `modified_time`
	</sql>
	<insert id="insert" parameterType="com.zes.squad.gmh.entity.po.ProductAmountPo">
		<selectKey keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO product_amount(`product_id`, `amount`, `store_id`)
		VALUES
		(#{productId, jdbcType=BIGINT},
		#{amount, jdbcType=DECIMAL},
		#{storeId, jdbcType=BIGINT})
	</insert>
	<delete id="deleteById" parameterType="long">
		DELETE FROM product_amount WHERE `id` = #{id, jdbcType=BIGINT}
	</delete>
	<delete id="batchDelete" parameterType="long">
		DELETE FROM product_amount WHERE `id` IN
		<foreach collection="list" item="id" separator="," open="("
			close=")">
			#{id, jdbcType=BIGINT}
		</foreach>
	</delete>
	<update id="updateAmount" parameterType="com.zes.squad.gmh.entity.po.ProductAmountPo">
		UPDATE product_amount SET `amount` = #{amount, jdbcType=DECIMAL}
	</update>
	<update id="addAmount" parameterType="com.zes.squad.gmh.entity.po.ProductAmountPo">
		UPDATE product_amount SET `amount` = `amount` + #{amount, jdbcType=DECIMAL}
		WHERE `id` = #{id, jdbcType=BIGINT}
	</update>
	<update id="addAmountByProductAndStore" parameterType="com.zes.squad.gmh.entity.po.ProductAmountPo">
		UPDATE product_amount 
		SET `amount` = `amount` + #{amount:DECIMAL}
		WHERE `product_id` = #{productId:BIGINT} AND `store_id` = #{storeId:BIGINT}
	</update>
	<update id="batchAddAmountByProductAndStore" parameterType="com.zes.squad.gmh.entity.po.ProductAmountPo">
		<foreach collection="list" separator=";" item="po">
			UPDATE product_amount 
			SET `amount` = `amount` + #{po.amount:DECIMAL}
			WHERE `product_id` = #{po.productId:BIGINT} AND `store_id` = #{po.storeId:BIGINT}
		</foreach>
	</update>
	<update id="reduceAmount" parameterType="com.zes.squad.gmh.entity.po.ProductAmountPo">
		UPDATE product_amount SET `amount` = `amount` - #{amount, jdbcType=DECIMAL}
		WHERE `id` = #{id, jdbcType=BIGINT}
	</update>
	<select id="selectById" parameterType="long" resultMap="BaseResultMap">
		SELECT 
		<include refid="Base_Column_List" />
		FROM
		product_amount
		WHERE `id` = #{id, jdbcType=BIGINT}
	</select>
	<select id="selectByProductId" parameterType="long" resultMap="BaseResultMap">
		SELECT 
		<include refid="Base_Column_List" />
		FROM
		product_amount
		WHERE `product_id` = #{productId, jdbcType=BIGINT}
	</select>
	<select id="selectByCode" parameterType="string" resultMap="BaseResultMap">
		SELECT 
		<include refid="Base_Column_List" />
		FROM
		product_amount pa
		LEFT JOIN 
		product p
		ON
		pa.`product_id` = p.`id`
		WHERE p.`code` = #{code, jdbcType=VARCHAR}
	</select>
	<select id="selectByCondition"
		parameterType="com.zes.squad.gmh.entity.condition.ProductAmountQueryCondition"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		product_amount
		WHERE
		`product_id` = #{productId, jdbcType=BIGINT}
		AND
		`store_id` = #{storeId, jdbcType=BIGINT}
	</select>
	<select id="selectByProductAndStore"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		product_amount
		WHERE
		`product_id` = #{productId, jdbcType=BIGINT}
		AND
		`store_id` = #{storeId, jdbcType=BIGINT}
	</select>
</mapper>