<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.mapper.ProductUnionMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.entity.union.ProductUnion">
		<id column="id" jdbcType="BIGINT" property="id" />
		<association property="productTypePo"
			resultMap="com.zes.squad.gmh.mapper.ProductTypeMapper.BaseResultMap"
			columnPrefix="pt_"/>
		<association property="productPo"
			resultMap="com.zes.squad.gmh.mapper.ProductMapper.BaseResultMap"
			columnPrefix="p_"/>
		<association property="productAmountPo"
			resultMap="com.zes.squad.gmh.mapper.ProductAmountMapper.BaseResultMap"
			columnPrefix="pa_"/>
		<association property="storePo"
			resultMap="com.zes.squad.gmh.mapper.StoreMapper.BaseResultMap"
			columnPrefix="s_"/>
	</resultMap>
	<select id="selectById" parameterType="long" resultMap="BaseResultMap">
		SELECT
		p.`id` AS id,
		pt.`id` AS pt_id,
		pt.`name` AS pt_name,
		p.`id` AS p_id,
		p.`product_type_id` AS p_product_type_id,
		p.`code` AS p_code,
		p.`name` AS p_name,
		p.`unit_name` AS p_unit_name,
		p.`unit_price` AS p_unit_price,
		FROM
		product p
		LEFT JOIN
		product_type pt
		ON
		p.`product_type_id` = pt.`id`
		<where>
			p.`id` = #{id, jdbcType=BIGINT}
		</where>
	</select>
	<select id="selectByCondition"
		parameterType="com.zes.squad.gmh.entity.condition.ProductQueryCondition"
		resultMap="BaseResultMap">
		SELECT
		p.`id` AS id,
		pt.`id` AS pt_id,
		pt.`name` AS pt_name,
		p.`id` AS p_id,
		p.`product_type_id` AS p_product_type_id,
		p.`code` AS p_code,
		p.`name` AS p_name,
		p.`unit_name` AS p_unit_name,
		p.`unit_price` AS p_unit_price
		FROM
		product p
		LEFT JOIN
		product_type pt
		ON
		p.`product_type_id` = pt.`id`
		<where>
			<if test="productTypeId != null">
				p.`product_type_id` = #{productTypeId}
			</if>
			<if test="search != null and search != ''">
				<bind name="condition" value="'%' + search + '%'"/>
				AND 
				pt.`name` LIKE #{condition, jdbcType=VARCHAR}
				OR
				CONCAT(p.`code`, p.`name`)
				LIKE
				#{condition, jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectWithAmountByAmountId" parameterType="long" resultMap="BaseResultMap">
		SELECT
		p.`id` AS id,
		pt.`id` AS pt_id,
		pt.`name` AS pt_name,
		p.`id` AS p_id,
		p.`product_type_id` AS p_product_type_id,
		p.`name` AS p_name,
		p.`unit_name` AS p_unit_name,
		p.`unit_price` AS p_unit_price,
		pa.`id` AS pa_id,
		pa.`product_id` AS pa_product_id,
		pa.`amount` AS pa_amount,
		pa.`store_id` AS pa_store_id,
		s.`id` AS s_id,
		s.`name` AS s_name
		FROM
		product_amount pa
		LEFT JOIN store s
		ON
		pa.`store_id` = s.`id`
		LEFT JOIN 
		product p
		ON 
		pa.`product_id` = p.`id`
		LEFT JOIN
		product_type pt
		ON
		p.`product_type_id` = pt.`id`
		<where>
			pa.`id` = #{id, jdbcType=BIGINT}
		</where>
	</select>
	<select id="selectWithAmountByCondition"
		parameterType="com.zes.squad.gmh.entity.condition.ProductQueryCondition"
		resultMap="BaseResultMap">
		SELECT
		p.`id` AS id,
		pt.`id` AS pt_id,
		pt.`name` AS pt_name,
		p.`id` AS p_id,
		p.`product_type_id` AS p_product_type_id,
		p.`name` AS p_name,
		p.`unit_name` AS p_unit_name,
		p.`unit_price` AS p_unit_price,
		pa.`id` AS pa_id,
		pa.`product_id` AS pa_product_id,
		pa.`amount` AS pa_amount,
		pa.`store_id` AS pa_store_id,
		s.`id` AS s_id,
		s.`name` AS s_name
		FROM
		product_amount pa
		LEFT JOIN store s
		ON
		pa.`store_id` = s.`id`
		LEFT JOIN 
		product p
		ON 
		pa.`product_id` = p.`id`
		LEFT JOIN
		product_type pt
		ON
		p.`product_type_id` = pt.`id`
		<where>
			`store_id` = #{storeId:BIGINT}
			<if test="productTypeId != null">
				AND p.`product_type_id` = #{productTypeId}
			</if>
			<if test="search != null and search != ''">
				<bind name="condition" value="'%' + search + '%'"/>
				AND CONCAT(pt.`name`, p.`name`)
				LIKE
				#{condition, jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>