<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.mapper.ProjectTypeUnionMapper">
	<resultMap id="BaseResultMap"
		type="com.zes.squad.gmh.entity.union.ProjectTypeUnion">
		<id column="id" jdbcType="BIGINT" property="id" />
		<association property="projectTypePo"
			resultMap="com.zes.squad.gmh.mapper.ProjectTypeMapper.BaseResultMap"
			columnPrefix="pt_" />
		<association property="storePo"
			resultMap="com.zes.squad.gmh.mapper.StoreMapper.BaseResultMap"
			columnPrefix="s_" />
	</resultMap>
	<sql id="Base_Column_List">
		pt.`id`,
		pt.`id` AS pt_id,
		pt.`top_type` AS pt_top_type,
		pt.`name` AS pt_name,
		pt.`store_id` AS pt_store_id,
		pt.`created_time` AS pt_created_time,
		pt.`modified_time` AS pt_modified_time,
		s.`name` AS s_name
	</sql>
	<select id="selectById" parameterType="long" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		project_type pt
		LEFT JOIN
		store s
		ON
		pt.`store_id` = s.`id`
		<where>
			pt.`id` = #{id, jdbcType=BIGINT}
		</where>
	</select>
	<select id="selectByCondition"
		parameterType="com.zes.squad.gmh.entity.condition.ProjectTypeQueryCondition"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		project_type pt
		LEFT JOIN
		store s
		ON
		pt.`store_id` = s.`id`
		<where>
			<if test="topType != null">
				pt.`top_type` = #{topType, jdbcType=INTEGER}
			</if>
			<if test="projectTypeKeyWord != null and projectTypeKeyWord != ''">
				<bind name="condition" value="'%' + projectTypeKeyWord + '%'"/>
				AND CONCAT(pt.`name`, s.`name`) LIKE #{condition, jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>