<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.mapper.ProjectTypeMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.entity.po.ProjectTypePo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="top_type" jdbcType="INTEGER" property="topType" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="store_id" jdbcType="BIGINT" property="storeId" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>
	<insert id="insert" parameterType="com.zes.squad.gmh.entity.po.ProjectTypePo">
		INSERT INTO project_type
		(`top_type`, `name`, `store_id`)
		VALUES
		(#{topType, jdbcType=INTEGER},
		#{name, jdbcType=VARCHAR},
		#{storeId, jdbcType=BIGINT})
	</insert>
	<delete id="deleteById" parameterType="long">
		DELETE FROM project_type WHERE `id` = #{id, jdbcType=BIGINT}
	</delete>
	<delete id="batchDelete" parameterType="long">
		DELETE FROM project_type WHERE `id` IN
		<foreach collection="list" item="id" separator="," open="(" close=")">
			#{id, jdbcType=BIGINT}
		</foreach>
	</delete>
	<update id="updateSelective">
		UPDATE project_type
		<set>
			<if test="topType != null">
				`top_type` = #{topType, jdbcType=INTEGER},
			</if>
			<if test="name != null and name != ''">
				`name` = #{name, jdbcType=VARCHAR}
			</if>
		</set>
	</update>
	<select id="selectByIds" parameterType="long" resultType="list">
		SELECT `id` FROM project_type WHERE `id` IN
		<foreach collection="list" item="id" separator="," open="(" close=",">
			#{id, jdbcType=BIGINT}
		</foreach>
	</select>
</mapper>