<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.mapper.StockMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.entity.po.StockPo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="stock_type_id" jdbcType="BIGINT" property="stockTypeId" />
		<result column="code" jdbcType="VARCHAR" property="code"/>
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="unit_name" jdbcType="VARCHAR" property="unitName" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`, `stock_type_id`, `code`, `name`, `unit_name`, `created_time`, `modified_time`
	</sql>
	<insert id="insert" parameterType="com.zes.squad.gmh.entity.po.StockPo">
		<selectKey keyProperty="id" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO stock
		(`stock_type_id`,`code`,`name`,`unit_name`)
		VALUES
		(#{stockTypeId, jdbcType=BIGINT},
		#{code, jdbcType=VARCHAR},
		#{name, jdbcType=VARCHAR},
		#{unitName, jdbcType=VARCHAR})
	</insert>
	<delete id="deleteById" parameterType="long">
		DELETE FROM stock WHERE `id` = #{id, jdbcType=BIGINT}
	</delete>
	<delete id="batchDelete" parameterType="list">
		DELETE FROM stock WHERE `id` IN
		<foreach collection="list" item="id" separator="," open="(" close=")">
			#{id, jdbcType=BIGINT}
		</foreach>
	</delete>
	<update id="updateSelective" parameterType="com.zes.squad.gmh.entity.po.StockPo">
		UPDATE stock
		<set>
			<if test="stockTypeId != null">
				`stock_type_id` = #{stockTypeId, jdbcType=BIGINT},
			</if>
			<if test="code != null and code != ''">
				`code` = #{code, jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != ''">
				`name` = #{name, jdbcType=VARCHAR},
			</if>
			<if test="unitName != null and unitName != ''">
				`unit_name` = #{unitName, jdbcType=VARCHAR}
			</if>
		</set>
		WHERE `id` = #{id, jdbcType=BIGINT}
	</update>
	<select id="selectById" parameterType="long" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		stock
		<where>
			`id` = #{id, jdbcType=BIGINT}
		</where>
	</select>
	<select id="selectByCode" parameterType="string" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		stock
		<where>
			`code` = #{code, jdbcType=VARCHAR}
		</where>
	</select>
	<select id="getById" parameterType="long" resultMap="BaseResultMap">
		select * from stock
		where
		id=#{id,jdbcType=BIGINT}
	</select>
	<update id="updateTotalAmount" parameterType="java.util.Map">
		update stock set
		total_amount=#{totalAmount,jdbcType=DECIMAL}
		where
		id=#{id,jdbcType=BIGINT}
	</update>
</mapper>
