<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.mapper.StoreUnionMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.entity.union.StoreUnion">
		<id column="id" jdbcType="BIGINT" property="id" />
		<association property="userPo"
			resultMap="com.zes.squad.gmh.mapper.UserMapper.BaseResultMap"
			columnPrefix="user_" />
		<association property="storePo"
			resultMap="com.zes.squad.gmh.mapper.StoreMapper.BaseResultMap"
			columnPrefix="store_" />
	</resultMap>
	<sql id="BaseColumnList">
		s.`id` AS store_id,
		s.`name` AS store_name,
		s.`address` AS store_address,
		s.`phone` AS store_phone,
		s.`remark` AS store_remark,
		s.`created_time` AS store_created_time,
		s.`modified_time` AS store_modified_time,
		u.`id` AS user_id,
		u.`name` AS user_name
	</sql>
	<select id="selectById" parameterType="long" resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumnList"/>
		FROM
		store s
		LEFT JOIN 
		user u
		ON
		u.`store_id` = s.`id`
		<where>
			s.`id` = #{id, jdbcType=BIGINT}
		</where>
		LIMIT 1
	</select>
	<select id="selectByCondition"
		parameterType="com.zes.squad.gmh.entity.condition.StoreQueryCondition"
		resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumnList" />
		FROM
		store s
		LEFT JOIN
		user u
		ON
		s.`id` = u.`store_id`
		<if test="search != null and search != ''">
			<bind name="condition" value="'%' + search + '%'" />
			<where>
				CONCAT(s.`name`,s.`address`,u.`name`,s.`phone`,s.`remark`)
				LIKE
				#{condition, jdbcType=VARCHAR}
			</where>
		</if>
	</select>
</mapper>