<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zes.squad.gmh.mapper.UserUnionMapper">
	<resultMap id="BaseResultMap" type="com.zes.squad.gmh.entity.union.UserUnion">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="token" jdbcType="VARCHAR" property="token" />
		<result column="store_name" jdbcType="VARCHAR" property="storeName" />
		<association property="userPo"
			resultMap="com.zes.squad.gmh.mapper.UserMapper.BaseResultMap"
			columnPrefix="user_" />
	</resultMap>
	<select id="selectUserUnionsByIds" parameterType="list" resultMap="BaseResultMap">
		SELECT
		u.`account` AS user_account,
		u.`email` AS user_email,
		u.`mobile` AS user_mobile,
		u.`name` AS user_name,
		u.`gender` AS user_gender,
		u.`store_id` AS user_store_id,
		u.`created_time` AS user_created_time,
		u.`modified_time` AS user_modified_time,
		s.`name` AS store_name
		FROM user u
		LEFT JOIN store s
		ON
		u.`store_id` = s.`id`
		<where>
			u.`id` IN 
			<foreach collection="list" item="id" open="(" close=")" separator=",">
				#{id, jdbcType=BIGINT}
			</foreach>
		</where>
	</select>
</mapper>